# FROTNEND 
FE_URL=http://localhost:5173
#JWT 
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET= 
JWT_VERIFY_REGISTER=
JWT_VERIFY_RESET_PASSWORD=
JWT_VERIFY_RESET_EMAIL=

# CLOUDINARY 
CLOUDINARY_ROOT_FOLDER= 
CLOUDIANRY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=